body {
    padding-top: 50px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 80%;
}

.companyInfo {
    text-align: right;
    float: left;
}

.greenText {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: rgba(86,243,25,1);
    font-size: 26px;
}

.extraText {
    font-weight: bold;
    color: rgba(55,163,31,1);
    font-size: 20px !important;
}

body {
    background-color: #fff;
}

.navbar-inverse {
    background-color: rgba(34,139,34,0.85);
    border-color: #080808;
}

/*### Image Gallary ###*/
.gallery {
    border: 1px solid #ccc;
    position: relative;
}

.gallery img {
    width: 100%;
    height: 300px;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

responsive .middle {
    transition: .5s ease;
    opacity: 1;
    position: absolute;
    top: 107%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.gallery:hover img {
    opacity: 0.3;
}

/*.gallery:hover .middle {
    opacity: 1;
}*/

.desc {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    text-align: center;
    height: 46px;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 50%;
    height: 357px;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/*### parallax ###*/
.navbar-nav {
    float: right;
    padding-right: 20%;
}

.navbar-inverse .navbar-nav > li > a {
    color: #222;
}
.parallax1 {
    /* The image used */
    background-image: url("../../Images/landscaping07.jpg");
    /* Set a specific height */
    min-height: 700px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 36px;
}

.parallax2 {
    /* The image used */
    background-image: url("../../Images/landscaping14.jpg");
    /* Set a specific height */
    min-height: 700px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 36px;
}

.parallax3 {
    /* The image used */
    background-image: url("../../Images/landscaping03.jpg");
    /* Set a specific height */
    min-height: 700px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 36px;
}

.content-first {
    min-height: 700px;
    background-image: url(../../Images/landscaping01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}

.content-second {
    height: 700px;
    background-image: url(../../Images/landscaping06.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}

.content-third {
    height: 700px;
    background-image: url(../../Images/landscaping15.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}

.owner-box {
    float: left;
    width: 32%;
    height: 300px;
    margin: 2px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: black;
    margin-bottom: 360px;
}

.owner1-image {
    background-image: url(../../Images/Owner1.jpg);
}

.owner2-image {
    background-image: url(../../Images/Owner2.jpg);
}

.owner3-image {
    background-image: url(../../Images/Owner3.jpg);
}


.text-block-left {
    position: relative;
    top: 0px;
    left: 0px;
    height: 700px;
    background-color: forestgreen;
    opacity: 0.7;
    color: white;
    margin-right: 70%;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}

.text-block-right {
    position: relative;
    float: right;
    top: 0px;
    right: 0px;
    height: 700px;
    background-color: forestgreen;
    opacity: 0.7;
    color: #fff;
    margin-left: 70%;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    
}

.owner-text-block {
    position: relative;
    top: 300px;
    right: 0px;
    color: #000;
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 24px;
    font-size: 20px;
}

.myContactForm {
    width: 80%;

}

@media (max-width: 768px) {
    .owner-box {
        width: 100%;
    }
}

.footer {
    float: left;
    width: 25%;
    text-align: center;
}

.footer-style {
    background-image: linear-gradient(white, green);
}

.footer_text {
    margin-top: 15px;
}

.link-colour1 {
    color: lightskyblue;
    background-color: transparent;
    text-decoration: none;
}