<footer>
    <div class="container">
        <div class="footer">
            <img src="../../Images/icon_phone.png" alt="location" height="42" width="42">
            <p class="footer_text">Mobil: 076-920 16 88</p>
        </div>
        <div class="footer">
            <img src="../../Images/icon_mail.png" alt="location" height="42" width="42">
            <p class="footer_text">Mejl: info@gronamiljoer.se</p>
        </div>
        <div class="footer">
            <img src="../../Images/icon_location.png" alt="location" height="42" width="42">
            <p class="footer_text">Adress: Nordanväg 18, Lund</p>
        </div>
        <div class="footer">
            <p class="footer_text">GM Gröna Miljöer HB</p>
            <p class="footer_text">Org.nr: 969787-8792</p>
        </div>

    </div>
    <br />
    <br />
    <div style="text-align:left; float:left;">
        <p>&copy; @DateTime.Now.Year - Group 42</p>
    </div>
</footer>

@*
    Mobil: 076-920 16 88

    Mejl: info@gronamiljoer.se

    Adress: Nordanväg 18, Lund

    GM Gröna Miljöer HB
    Org.nr: 969787-8792

*@