@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <div class="owner1-box">
        <div class="owner-text-block">
            <h1>Heading</h1>
            <p>Here you can </p>
        </div>
    </div>
</body>