@{
    ViewBag.Title = "Vårt team";
}
<h2>@ViewBag.Title.</h2>


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <h3>
        Gröna Miljöer är ett litet men professionellt företag inom trädgårdsanläggning i Skåne.
    </h3>
    <h3>
        Vi anlägger trädgårdar och erbjuder skötsel & förvaltning av utemiljöer till privatpersoner, företag och bostadsrättsföreningar.
    </h3>
    <h3>
        Vårt team består av två utbildade trädgårdsanläggare och en trädgårdsdesigner som hjälper våra kunder med kreativa idéer.
    </h3>
    <h3>
        Vi strävar efter hållbara lösningar, i allt från design till material, verktyg, maskiner och arbetsmetoder.
    </h3>
    <h3>
        Vi tillhandahåller flexibilitet, kvalitet och personlig service - vi levererar!
    </h3>
    <br />
    <div class="container">
        <div class="owner-box">
            <img src="../../Images/Owner1.jpg" alt="Baldur" class="owner-image"/>
            <div class="owner-text-block">
                <h1>Baldur Bjarnason</h1>
                <p>
                    Baldur Bjarnason är utbildad trädgårds-anläggare både i Sverige och på Island och en av ägarna
                    av företaget, Baldur har varit aktiv i trädgårdsbranschen under flera år och har tidigare arbetat
                    15 år inom byggbranschen i Sverige, Island, Norge och Danmark. Han är dessutom Gröna Miljöers egen
                    växtexpert!
                </p>
            </div>
        </div>
        <div class="owner-box">
            <img src="../../Images/Owner2.jpg" alt="Mikael" class="owner-image" />
            <div class="owner-text-block">
                <h1>Mikael Bluhm</h1>
                <p>
                    Mikael Bluhm, delägare i Gröna Miljöer, är utbildad trädgårdsanläggare med flera års erfarenhet
                    av byggprojektering av semester-anläggningar och hotell resorter i sydostasien. Mikael har fokuserat
                    på funktionella och trivsamma park- och trädgårdsmiljöer där man till fullo skall kunna njuta av sin
                    semester.
                </p>
            </div>
        </div>
        <div class="owner-box">
            <img src="../../Images/Owner3.jpg" alt="Sigga" class="owner-image" />
            <div class="owner-text-block">
                <h1>Björk</h1>
                <p>
                    Björk är vår trädgårdsdesigner som tillhandahåller många kreativa idéer till våra kunder. Hon är
                    utbildad inom trädgård på Island och på SLU Alnarp i Skåne. Förutom sin aktiva roll i Gröna Miljöer
                    skriver hon artiklar för Isländska trädgårdsmagasin på distans.
                </p>
            </div>
        </div>
    </div>
</body>