@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

    

<div class="container">

    
    <form class="myContactForm form form-horizontal" method="post">
        <div asp-validation-summary="All"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Contact.Name" class="col-md-3 right">Name:</label>
                    <div class="col-md-9">
                        <input asp-for="Contact.Name" class="form-control" />
                        <span asp-validation-for="Contact.Name"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Contact.LastName" class="col-md-3 right">Last name:</label>
                    <div class="col-md-9">
                        <input asp-for="Contact.LastName" class="form-control" />
                        <span asp-validation-for="Contact.LastName"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Contact.Email" class="col-md-3 right">Email:</label>
                    <div class="col-md-9">
                        <input asp-for="Contact.Email" class="form-control" />
                        <span asp-validation-for="Contact.Email"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Contact.Message" class="col-md-3 right">Your Message:</label>
                    <div class="col-md-9">
                        <textarea asp-for="Contact.Message" rows="6" class="form-control"></textarea>
                        <span asp-validation-for="Contact.Message"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="submit">Send</button>
            </div>
        </div>
    </form>


</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js" integrity="sha256-dHf/YjH1A4tewEsKUSmNnV05DDbfGN3g7NMq86xgGh8=" crossorigin="anonymous"></script>
    <script src="contact.js"></script>