@model VikingLandscaping.Models.ServiceModel
@{
    ViewBag.Title = @Model.Service;
}

<h2>@Model.Service</h2>
<img src="@Model.image" alt="Potato planting" width="600" height="400">
<p>@Model.Details</p>
