@{
    ViewBag.Title = "Home Page";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
</head>

<body>


    <div class="parallax1">
        <div class="text-block-right">
            <h4>Heading</h4>
            <p>Here you can put some text</p>
        </div>
    </div>

    <div class="content-first">
        <div class="text-block-left">
            <h4>Heading</h4>
            <p>Here you can put some text</p>
        </div>
    </div>

    <div class="parallax2">
        <div class="text-block-right">
            <h4>Heading</h4>
            <p>Here you can put some text</p>
        </div>
    </div>

    <div class="content-second">
        <div class="text-block-left">
            <h4>Heading</h4>
            <p>Here you can put some text</p>
        </div>
    </div>
    <div class="parallax3">
        <div class="text-block-right">
            <h4>Heading</h4>
            <p>Here you can put some text</p>
        </div>
    </div>
</body>


