@{
    ViewBag.Title = "Home Page";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .parallax1 {
            /* The image used */
            background-image: url("../../Images/landscaping01.jpg");
            /* Set a specific height */
            min-height: 500px;
            /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .parallax2 {
            /* The image used */
            background-image: url("../../Images/landscaping02.jpg");
            /* Set a specific height */
            min-height: 500px;
            /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .parallax3 {
            /* The image used */
            background-image: url("../../Images/landscaping03.jpg");
            /* Set a specific height */
            min-height: 500px;
            /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>

<body>


    <div class="parallax1"></div>

    <div style="height:500px;background-image:url(../../Images/landscaping04.jpg)">
    </div>

    <div class="parallax2"></div>

    <div style="height:500px;background-color:green;font-size:36px">
        Scroll Up and Down this page to see the parallax scrolling effect.
        This div is just here to enable scrolling.
        Tip: Try to remove the background-attachment property to remove the scrolling effect.
    </div>
    <div class="parallax3"></div>
</body>


