@model List<VikingLandscaping.Models.ServiceModel>
@{
    /**/

    ViewBag.Title = "Tjänster";
}
<h3>@ViewBag.Message</h3>

<div class="extraText">
    Om Ni behöver få något gjort, litet som stort, eller funderar över något gällande Er utemiljö,
    <br />kontakta oss på mobil: 076-920 16 88 eller skicka ett mejl till: info@gronamiljoer.se
    <br />så återkommer vi så snart som möjligt.
</div>

<br />

<div class="greenText">
    Vi lever för den gröna miljön!
</div>

@foreach (var item in Model)
{
    <div class="responsive">
        <div class="gallery">
            <a href='@Url.Action("Details", "Home")'>
                <img src="@item.image" alt="Potato planting" width="600" height="400">
                <div class="middle">
                    <div class="desc">
                        @item.Service
                    </div>
                </div>
            </a>
        </div>
    </div>
}

<div class="clearfix"></div>