@{
    ViewBag.Title = "Services";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="responsive">
    <div class="gallery">
        <img src="../../Images/landscaping14.jpg" alt="Cinque Terre" width="600" height="400">
        <div class="middle">
            <div class="desc">I don't know... Potato Planting</div>
        </div>
    </div>
</div>

<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="img_forest.jpg">
            <img src="../../Images/landscaping11.jpg" alt="Forest" width="600" height="400">
        </a>
        <div class="middle">
            <div class="desc">Flower planting</div>
        </div>
    </div>
</div>

<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="img_lights.jpg">
            <img src="../../Images/landscaping08.jpg" alt="Northern Lights" width="600" height="400">
        </a>
        <div class="middle">
            <div class="desc">Weed removal</div>
        </div>
    </div>
</div>

<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="img_mountains.jpg">
            <img src="../../Images/landscaping05.jpg" alt="Mountains" width="600" height="400">
        </a>
        <div class="middle">
            <div class="desc">Landscaping</div>
        </div>
    </div>
</div>

<div class="clearfix"></div>

<div style="padding:6px;">
    <p>Maybe some text to explain.</p>
</div>